$font_main: "Roboto", sans-serif;

$font-size-root: 16;

$main-color: #000;

$menu-color: #fff;
$menu-color-hover: green;

$color-dark-gray: #555555;
$color-border: #ebebeb;
$color-placeholder: rgba(72, 72, 72, 0.7);
