@import "./useage";

html,
body {
	font-family: $font_main;
}
html {
	font-size: $font-size-root;
}
body {
	font-size: rem(14);
	padding: 0;
	margin: 0;
}

.wrapper {
	height: 100vh;
	overflow: hidden;
}
.container {
	padding-left: rem(15);
	padding-right: rem(15);
}
